<div class="table">
    <div class="table__box-search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Búsqueda" name="search" [(ngModel)]="search" class="table__box-search__input">
    </div>
    <div class="table__order">
        <select name="select" class="table__order-select">
            <option value="value1" selected disabled>Ordenar de A - Z</option> 
            <option value="value2">A-Z</option>
            <option value="value3">Z-A</option>
          </select>
    </div>
    <div class="table__status">
        <select
        name="status"
        (change)="statusFilter()"
        [(ngModel)]="status"
        class="table__status-select"
      >
        <option value="">Todos</option>
        <option value="activados">Activados</option>
        <option value="desactivados">Desactivados</option>
      </select>
      <div class="table__icons">
        <img class="table__icons-list" src="assets/list.svg" alt="">
        <img src="assets/square.svg" alt="">
      </div>
    </div>
</div>
<app-list-users [search]="search" [filterUsers]="statusUser"></app-list-users>
