<aside class="aside">
    <div class="aside__contenedor">
        <div class="aside__box">
            <img src="assets/user.svg" alt="user logo">
            <p class="aside__title">Usuarios</p>
        </div>
        <div class="aside__box">
            <img src="assets/list.svg" alt="list logo">
            <p class="aside__title">Slider</p>
        </div>
        <div class="aside__box">
            <img src="assets/square.svg" alt="square logo">
            <p class="aside__title">Reportes</p>
        </div>
        <div class="aside__box">
            <img src="assets/eye.svg" alt="eye logo">
            <p class="aside__title">Terminos</p>
        </div>
        <div class="aside__box">
            <img src="assets/web.svg" alt="web logo">
            <p class="aside__title">Redes</p>
        </div>
    </div>
    <div class="aside__information">
        <small class="aside__information__official-name"> &copy; Jaque 2018 </small>
        <p class="aside__information__reserved-name">Todos los derechos reservados</p>
    </div>
</aside>