
<section class="user">

    <div class="user__information">
        <h2 class="user__information__title">Usuarios</h2>
        <p class="user__information__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="user__buttons">
        <button class="user__buttons-preview">
            <i class="fas fa-eye"></i>
            <p>Previsualizar</p>
        </button>
        <button class="user__buttons-new-user"> 
            <i class="fas fa-plus"></i>
            Agregar nuevo usuario 
        </button>
    </div>

</section>